#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Gotham', sans-serif;
}

body {
  background: linear-gradient(180deg, #5e1b89 0%, #f4512c 57.03%);
}

.custom-container {
  width: 580px; 
  height: auto; 
  max-height: 700px; 
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .4);
  padding: 50px 30px;
  box-sizing: border-box;
  margin: 50px auto;
  overflow-y: auto; 
}

.navtext {
  color: #FFF;
  text-shadow: 5px 6px 2px rgba(0, 0, 0, 0.50);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
}

.add-button {
  background-color: #ff7f4d;
  color: #FFF;
}

.add-button:hover {
  background: #f4512c;
  color: #FFF;
  transition: .3s ease;
}

.task-text {
  display: flex;
  color: #4a4a4a;
}

.text-muted {
  display: flex;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-container {
  flex-grow: 1;
}

.bg-custom {
  background-color: #14b7a0 !important; 
  color: #fff;
}

.edit-button {
  margin-left: 10px;
  background-color: #6b388a;
  color: #FFF;
}

.edit-button:hover {
  background: #5e1b89;
  color: #FFF;
  transition: .3s ease;
}

.delete-button {
  margin-left: 10px;
  background-color: #ff7f4d;
  color: #FFF;
}

.delete-button:hover {
  background: #f4512c;
  color: #FFF;
  transition: .3s ease;
}

.complete-all-button {
  margin: 5px 20px;
  background-color: #6b388a;
  color: #FFF;
}

.complete-all-button:hover {
  background: #5e1b89;
  color: #FFF;
  transition: .3s ease;
}

.undo-complete-all-button {
  margin: 5px 20px;
  background-color: #6b388a;
  color: #FFF;
}

.undo-complete-all-button:hover {
  background: #5e1b89;
  color: #FFF;
  transition: .3s ease;
}

.delete-all-button {
  background-color: #ff7f4d;
  color: #FFF;
}

.delete-all-button:hover {
  background: #f4512c;
  color: #FFF;
  transition: .3s ease;
}

.custom-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url('navbar.png');
  background-size: cover;
  padding: 15px 30px;
  border-radius: 10px;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 25px;
}

.custom-modal-header {
  background-color: #5e1b89;
  color: #fff;
}

.custom-modal-body {
  padding: 20px;
}

.custom-modal-footer {
  text-align: right;
  padding: 10px 20px;
}

.custom-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-modal-content {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 350px;
  height: auto;
  max-height: 80%; 
}

.save-button {
  margin-left: 10px;
  background-color: #ff7f4d;
  color: #FFF;
}

.save-button:hover {
background: #f4512c;
color: #FFF;
transition: .3s ease;
}

.del-button {
  margin-left: 10px;
  background-color: #ff7f4d;
  color: #FFF;
}

.del-button:hover {
background: #f4512c;
color: #FFF;
transition: .3s ease;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #9d71bc);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #5e1b89);
}
